body
{
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
}

.searchbox input::placeholder
{
    color: transparent;
}

ion-icon
{
    position: fixed;
    width: 3rem;
    top: 4.8%;
    right: 2.3%;
    pointer-events: none;
}

.searchbox input:hover
{
    border-radius: 1.2rem;
    position: fixed;
    width: 4rem;
    top: 4%;
    right: 2.95%;
    padding-right: 4rem;
}

.searchbox input
{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 2rem;
    position: fixed;
    width: 0.1rem;
    top: 4%;
    right: 2.95%;
    padding-right: 1.2rem;
}

.searchbox
{
    position: fixed;
}

#home:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#videos:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}
#sobre:hover

{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#results:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#plano:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#patrocinadores:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#news:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#formacao:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#tv:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#docs:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#conts:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#clubes:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#ajuda:hover
{
    background-color: rgba(0, 0, 0, 0.716);
    padding: 0.1rem;
    color:white;
}

#home
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#videos
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}
#sobre

{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#results
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#plano
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#patrocinadores
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#news
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#formacao
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#tv
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#docs
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#conts
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#clubes
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

#ajuda
{
    background-color: black;
    padding: 0.1rem;
    color:white;
}

body::-webkit-scrollbar
{
    width: 0.25rem;
}

body::-webkit-scrollbar-track
{
    background-color: rgba(60, 60, 60, 0.121);
}

body::-webkit-scrollbar-thumb
{
    background-color: rgb(170, 170, 170);
}

:root
{
    font-size: 16px;
}

.cabecalho
{
    font-family: Arial;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15rem;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 1.875rem;
    padding-left: 25px;
    margin-right: 0;
}

.cabecalhotext
{
    transition: font-weight, 0.15s;
    padding-right: 1rem;
}

.cabecalhotext:hover
{
    cursor: pointer;
    font-weight: bold;
}

.image-insta
{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
    max-width: 1.7rem;
    transition: opactiy, 0.15s;
}

.image-insta:hover
{
    opacity: 0.7;
}

.image-fb
{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
    width: 25px;
    transition: opactiy, 0.15s;
}
.image-fb:hover
{
    opacity: 0.7;
}

.image-ytb
{
    margin-top: 0;
    margin-bottom: 0;
    width: 25px;
    transition: opactiy, 0.15s;
}

.image-ytb:hover
{
    opacity: 0.7;
}

.logo
{
    max-width: 7rem;
}
.entity
{
    color: white;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 0.6em;
    opacity: 0.8;
}
ul
{
    margin-top: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navigation
{
    font-family: Arial;
    width: 15rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    overflow-y: auto;

}

.navigation::-webkit-scrollbar
{
    width: 0.25rem;
}

.navigation::-webkit-scrollbar-track
{
    background-color: rgba(60, 60, 60, 0.121);
}

.navigation::-webkit-scrollbar-thumb
{
    background-color: rgb(170, 170, 170);
}

.nav-link
{
    color: black;
    padding-bottom: 1.5rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.nav-link:hover
{
    color: aliceblue;
}

.elements
{
    color: black;
    transition: all 0.15sec;
}

.elements:hover
{
    color: rgba(0, 0, 0, 0.7);
}

.elements:active, .elements:focus
{
    background-color: black;
    color: white;
}

.logon
{
    max-width: 80%;
    padding: 1rem;
    padding-bottom: 2rem;
}
main
{
    margin-left: 15rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 12.5rem;
    padding-bottom: 26.875rem;
    font-weight: bold;
    font-size: 1.875em;
    transition: opacity 0.15s;
    text-align: center;
    margin-right: 0;
    padding-right: 10vh;
}

@media screen and (max-width: 775px)
{
    main
    {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 400px)
{
    main
    {
        font-size: 0.9em;
    }
}

.text-only
{
    display: inline;
    font-family: Courier New;
    margin-bottom: 0;
    opacity: 0.9;
}
.text-main:hover
{
    cursor: pointer;
    opacity: 0.8;
}
.text-main:active
{
    opacity: 0.7;
}